* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #dda15e; */
  font-family: 'Raleway', sans-serif;
}

.logo {
  height: 90px;
  width: 90px;
}
body{
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  background-position: center;
}

.container {

  max-width: 1200px;
  margin: auto;
  margin: 1em auto;
  padding: 0 1em;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  
}
header {
  color: #fefae0;
}
h1 {
  text-align: center;
  font-size: 1.6em;
}
.header-paragraph {
  text-align: center;
  margin-top: 1em;
  font-size: 1.1em;
}

.date {
  font-size: larger;
  color: #fefae0;
  text-align: center;
  margin: 2em 1em 0.5em;
}

#img {
  width: 100%;
  height: 100%;
  -webkit-animation: slide-top 0.5s ease-in-out 2 reverse ;
  animation: slide-top 0.5s ease-in-out 2 reverse ;
  border-radius: 4px;
}

.title {
  color: #fefae0;
  margin: 0.7em 0 1.3em;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.explanation {
  color: #fefae0;
  text-align: justify;
  margin-bottom: 1em;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
